<section id="testimonials" class="bg-primary">
    <div class="container">
    </div>
</section>

<div class="diag-section s_1">
    <div class="diagonal diagonal_bottom pre_s_2"></div>
</div>


<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM --- PARTIAL BODY STARTS HERE  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->

<section id="about" class="bg-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center topmargin40">
                <h2 class="section-heading">About</h2>
                <hr class="primary">
            </div>

            <div class="subtitle text-muted text-center">
                Making Your Life Count is a cooperative effort of the following three.
            </div>
        </div> <!-- end row -->
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center">
                <i class="fa fa-users fa-3x"></i>
                <h3>Coaching Team</h3>
                <p class="text-justify">We want you to know that you are not alone if you choose to personally join the
                    quest to make your life
                    count for more. In addition to offering the free short ebook, interactive email series, online
                    lessons and new assessment tools
                    to guide you through developing and applying WALK, PRAY, CARE and SHARE in your life, you have an
                    entire team of qualified
                    coaches ready to assist you with personalized input throughout your journey to increase the positive
                    effect you make in your
                    and others’ worlds.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <i class="fa fa-microphone fa-3x"></i>
                <h3>Radio</h3>
                <p class="text-justify">The <i>Making Your Life Count</i> radio program, originally known as <i>The
                    Lighthouse Report</i>, has
                    been broadcast to millions for many years running now. Each short yet packed program offers
                    practical, relevant approaches and
                    ideas through interviews with people just like you who are making their lives count for more. These
                    ideas are designed to both
                    inspire and help you to extend your influence for Christ to your extended communities.</p>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <i class="fa fa-building-o fa-3x"></i>
                <h3>Cru.org</h3>
                <p class="text-justify">Our parent organization, Cru, is a caring community passionate about connecting
                    an ever-growing number
                    of people to share in the joy of having lives of faith. Lives that make a difference. You can
                    increasingly develop into one
                    who grows in WALK, PRAY, CARE and SHARE—and also guide others like yourself to do the same. The
                    newly redesigned site
                    <a href="//cru.org" target="_blank">Cru.org</a> offers a substantial amount of helpful and diverse
                    additional resources for
                    you to explore. </p>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<section id="policies" class="bg-default">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <h3 class="text-center">Your Privacy</h3>
                <hr class="primary"/>
                <p class="text-justify">We fully respect your privacy. Rest assured that we will never use or share your
                    personal information
                    for any purpose beyond what you specifically agree to. As a division of Cru, we also refer you
                    directly to the Privacy Policy
                    of our parent organization for more specifics of how we continually strive to maintain this respect
                    for each of you.</p>
                <p class="text-center"><a href="//cru.org/about/privacy.html#" class="btn btn-info" role="button"
                                          target="_blank">Cru Privacy</a></p>
            </div>
            <div class="col-sm-6 col-xs-12">
                <h3 class="text-center">Terms of Service</h3>
                <hr class="primary"/>
                <p class="text-justify">We encourage you to share this site and all Making Your Life Count resources
                    directly with others you feel
                    would benefit and via your social media outlets. As a division of Cru, we refer you to their Terms
                    of Service for more information
                    on proper and permissible usage of the content you find helpful to share in other contexts. If still
                    unsure, please feel free to
                    contact us anytime.</p>
                <p class="text-center"><a href="//cru.org/about/terms-of-use.html#" class="btn btn-info" role="button"
                                          target="_blank">Cru Terms</a></p>
            </div>
        </div> <!-- end row -->
    </div>
</section>


<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM --- PARTIAL BODY ENDS HERE  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->
<div class="diag-section s_3">
    <div class="diagonal diagonal_top post_s_2"></div>
</div>