<section class="bg-primary" id="overview">
    <div class="container">
        <div class="col-lg-6 box_main text-center">
            <div class="box2">
                <h3 class="section-heading">Make a Difference</h3>
                <div class="border_box1"></div>
                <blockquote class="mb10 ">
                    <p class="justify text-faded-light">This site offers you <strong>simple, practical and
                        powerful</strong> ways to help you make your life count. There are four main elements:</p>
                    <p class="justify text-faded-light">&nbsp;</p>
                    <p class="justify text-faded-light">First, <b>WALK</b> with God.</p>
                    <p class="justify text-faded-light">Second, <b>PRAY</b> for God's supernatural involvement.</p>
                    <p class="justify text-faded-light">Third, <b>CARE</b> for others.</p>
                    <p class="justify text-faded-light">Fourth, <b>SHARE</b> what God has shown you.</p>
                    <p class="justify text-faded-light">&nbsp;</p>
                    <p class="justify text-faded-light">Get started by taking a minute to view a short video in our
                        <b><a href="" ng-click="scrollTo('significance')">Brief Overview</a></b> section.
                        If ready to begin now, click the "<b><a href="" ng-click="scrollTo('joinactions')">Jump to Start</a></b>" button
                        below instead.</p>
                    <p class="justify text-faded-light">&nbsp;</p>
                    <p class="justify text-faded-light">We look forward to sharing the journey with you.</p>
                </blockquote>
            </div>
        </div>

        <div class="col-lg-6 box_main text-center">

            <div class="box2">
                <h3 class="section-heading ">Today's Radio Broadcast</h3>
                <div class="border_box2"></div>
                <blockquote class="mb40">
                    <p class="text-center text-faded-dark">Are you looking for something you just heard on the radio?
                        You can view the most recent broadcasts here.</p>
                    <a href="http://makingyourlifecountradio.org" class="btn btn-default wow tada page-scroll"
                       target="_blank">Broadcasts&nbsp;&nbsp;<i class="fa fa-share-alt-square"></i></a>
                </blockquote>
            </div>
            <div class="box2">
                <h3 class="section-heading ">Who Is Jesus?</h3>
                <div class="border_box3"></div>
                <blockquote>
                    <p class="text-center text-faded-dark">Are you wondering who Jesus is and how to know God? You can
                        find out how here.</p>
                    <a href="https://www.cru.org/how-to-know-god.html" class="btn btn-default wow tada page-scroll"
                       target="_blank">How to Know God&nbsp;&nbsp;<i class="fa fa-cubes"></i></a>
                </blockquote>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-6 box_main text-right">
            <a href="" ng-click="scrollTo('significance')" class="btn btn-default wow tada page-scroll">&nbsp;Brief Overview&nbsp;<i
                    class="fa fa-arrow-down"></i></a>
        </div>
        <div class="col-xs-6 box_main text-left">
            <a href="" ng-click="scrollTo('joinactions')" class="btn btn-default wow tada page-scroll">&nbsp;Jump to
            Start&nbsp;<i class="fa fa-arrow-down"></i></a>
        </div>
    </div>
</section>


<div class="diag-section s_1">
    <div class="diagonal diagonal_bottom pre_s_2"></div>
</div>

<div class="diag-section s_2">
    <div class="diag-section-content">


        <section id="significance" class="wow zoomIn">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">A Life of Significance</h2>
                        <hr class="primary">
                    </div>
                </div>
                <div class="steps text-center">
                    <div>
                        <!-- <iframe width="405" height="235" src="https://www.youtube.com/embed/wkHAG-6y5q4?version=3&autohide=1&showinfo=1&autoplay=false&rel=0" frameborder="0" allowfullscreen></iframe> -->
                        <!-- <iframe width="405" height="235" src="https://www.youtube.com/embed/Ltn-UNlSu60?version=3&autohide=1&showinfo=1&autoplay=false&rel=0" frameborder="0" allowfullscreen></iframe> -->
                        <!-- <iframe width="405" height="235" src="https://www.youtube.com/embed/9VYYjghnP7Q?version=3&autohide=1&showinfo=1&autoplay=false&rel=0" frameborder="0" allowfullscreen></iframe> -->
                        <iframe class="container-video"
                                src="https://www.youtube.com/embed/_mFjPokAfpc?version=3&autohide=1&showinfo=1&hd=1&autoplay=false&rel=0"
                                frameborder="0" allowfullscreen></iframe>
                        <!-- <video width="405" height="235" controls  poster="img/eggs.jpg">
                           <source src="http://www.skygatestudios.com/cru-life-count-v1.mp4" type="video/mp4" />
						   Your browser does not support the video tag.
						 </video> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-xs-12 text-center">
                        <div class="service-box">
                            <img src="img/walk.jpg" class="img-responsive">
                            <h3>WALK</h3>
                            <p class="text-muted">Increase your grasp of how God wants you to live. Demonstrate
                                credibility. Walk with Him so others see your actions match your words.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 text-center">
                        <div class="service-box">
                            <img src="img/pray.jpg" class="img-responsive">
                            <h3>PRAY</h3>
                            <p class="text-muted">Talk with God about things that matter to you and others. Nothing is
                                too small or big for Him. Connect closely with God and receive His guidance and
                                power.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 text-center">
                        <div class="service-box">
                            <img src="img/care.jpg" class="img-responsive">
                            <h3>CARE</h3>
                            <p class="text-muted">Look for ways to be conscious of the continual needs of others.
                                Demonstrate love and kindness freely and frequently.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 text-center">
                        <div class="service-box">
                            <img src="img/share.jpg" class="img-responsive">
                            <h3>SHARE</h3>
                            <p class="text-muted">You have made your life count, now help others to experience the same.
                                Team up with others to spread the message of Christ's love to the world.</p>
                        </div>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end homemade section -->
    </div>
</div>
<section id="about" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center topmargin40">
                <h2 class="section-heading">Getting Started</h2>
                <hr class="primary">
            </div>

            <div class="subtitle text-muted text-center">
                Each one of these steps will help you <strong>make your life count</strong>.
            </div>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-road fa-3x"></i>
                    <h3>Gather Ideas</h3>
                    <p class="text-muted">Explore our recommended <b>Resources</b>. Listen to a few <b>Radio</b>
                        interviews. Read some <b>Stories</b> for inspiration.</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-envelope-o fa-3x"></i>
                    <h3>Connect With Us</h3>
                    <p class="text-muted">Receive personalized insights at your request. Select any or all three tools
                        we offer below.</p>
                </div>
            </div>
            <div class="col-sm-4 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-arrow-right fa-3x"></i>
                    <h3>Pass it On</h3>
                    <p class="text-muted">Find simple, specific ways to get others involved in <b>WALK</b>, <b>PRAY</b>,
                        <b>CARE</b> and <b>SHARE</b>.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<div class="diag-section s_2">
    <div class="diag-section-content">
        <div id="showresp">
            <section id="joinactions">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 text-center" ng-if="!msg">
                            <div class="subtitle text-muted text-center">
                                Please fill out the following to connect with our "Making Your Life Count" coaching
                                team.<br>
                                Rest assured we respect your privacy and your time. You decide how much (<i>or
                                little</i>) you want to talk about this.
                            </div>
                        </div>
                        <div ng-show="msg" ng-bind-html="renderHtml(msg)"></div>
                    </div><!-- end row -->
                </div> <!-- end container -->
            </section>

            <section id="form">
                <div class="container">
                    <div class="row">
                        <!--- form row begins -->
                        <div class="col-lg-8 col-lg-offset-2 text-center">
                            <form id="learnFm" name="learnFm" class="form" novalidate ng-if="!msg">
                                <input type="hidden" ng-model="user.post_actions"
                                       ng-init="user.post_actions='joinacts'"/>
                                <div class="row">
                                    <div class="form-group col-xs-12 has-feedback">
                                        <label class="sr-only" for="name">your name</label>
                                        <input type="text" class="form-control"
                                               id="name" placeholder=" Name" name="nameline"
                                               ng-model="user.nameline" required/>
                                        <p class="text-danger"
                                           ng-show="learnFm.nameline.$touched && learnFm.nameline.$error.required">
                                            Your name is required
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-xs-12 has-feedback">
                                        <label class="sr-only" for="email">email</label>
                                        <input type="email" class="form-control" id="email"
                                               placeholder=" Email" name="email"
                                               ng-model="user.email" ng-pattern="EMAIL_PATTERN" required/>
                                        <p class="text-danger"
                                           ng-show="learnFm.email.$touched && learnFm.email.$error.required">
                                            The email is required and cannot be empty
                                        </p>

                                        <p class="text-danger"
                                           ng-show="learnFm.email.$dirty && learnFm.email.$error.pattern">The input is
                                            not a valid email address
                                        </p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-sm-4 col-xs-12">
                                        <div class="checkbox">
                                            <input type="checkbox" id="ebook" name="ebook"
                                                   class="form-control"
                                                   ng-model="user.ebook">
                                            <label for="ebook"><b>Free eBook</b></label>
                                        </div>
                                        <div class="small text-justify">The "Making Your Life Count" booklet has been
                                            used for over 30 years to provide practical, easily applicable ideas. It
                                            recently has been revised as a short eBook which will be emailed as a 2mb
                                            PDF file.
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4  col-xs-12">
                                        <div class="checkbox">
                                            <input type="checkbox" id="interact" name="interact"
                                                   class="form-control"
                                                   ng-model="user.interact"/>
                                            <label for="interact"><b>Coaching Emails</b></label>
                                        </div>
                                        <div class="small text-justify">An interactive email series covering WALK, PRAY,
                                            CARE and SHARE. They give a fun way to learn the content. Sending interval
                                            is based on your rate of response.
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4  col-xs-12">
                                        <div class="checkbox">
                                            <input type="checkbox" id="refluate" name="refluate"
                                                   class="form-control"
                                                   ng-model="user.refluate"/>
                                            <label for="refluate"><b>Reflect & Evaluate Link</b>*</label>
                                        </div>
                                        <div class="small text-justify">Creative new tools to help you spend some time
                                            to reflect, evaluate and act in making your life count for even more. Sent
                                            as a custom link to your email.
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div id="success">
                                        <div class="form-group col-xs-12">
                                            <button type="submit" id="frmsbmt" class="btn btn-primary btn-xl wow tada"
                                                    ng-disabled="learnFm.$invalid" ng-click="submitFm(user)">
                                                Get Started<i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group col-xs-12">
                                        <small><i>
                                            Should your interests change, you can easily unsubscribe at any time.</i>
                                        </small>
                                    </div>
                                    <div class="form-group col-xs-12">
                                        <i class="fa fa-asterisk fa-2x"></i><b>Reflect & Evaluate Link</b>: This
                                        private, special section of the site provides you with cutting edge ideas
                                        tailored to your strengths and needs.
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--- end form -->
                </div>
            </section>
        </div>
        <!-- end of show response div -->
    </div>
    <!-- end map/form zoom -->
</div>

<div class="diag-section s_3">
    <div class="diagonal diagonal_top post_s_2"></div>
</div>

<section id="testimonials" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">How Does <i><b>Your</b></i> Life Count?</h2>
                <p>Take a moment to tell us a story about how you made a difference in someone's life. In doesn't have
                    to be fantastic. Remember Jesus
                    talked about ... (More instructions to follow)</p>
                <hr class="light">
                <div ng-show="stomsg" ng-bind-html="renderHtml(stomsg)"></div>
            </div>
        </div> <!-- end row -->
        <div class="row">
            <!--- form row begins -->
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <form id="stoFm" name="stoFm" class="form" novalidate ng-if="!stomsg">
                    <input type="hidden" ng-model="story.post_actions" ng-init="story.post_actions='story'"/>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <label class="sr-only" for="message">message</label>
                            <textarea name="message" rows="5" class="form-control"
                                              placeholder=" Message" id="message"
                                              ng-model="story.message" minlength="25" required></textarea>
                            <p ng-show="stoFm.message.$touched && stoFm.message.$error.required" style="color:red">
                                Please enter a story.
                            </p>
                            <p ng-show="stoFm.message.$touched && stoFm.message.$error.minlength" style="color:red">
                                Please enter at least 25 characters.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div id="success">
                            <div class="form-group col-xs-12">
                                <button type="submit" id="frmsbmt" class="btn btn-default btn-xl wow tada"
                                        ng-disabled="stoFm.$invalid" ng-click="submitFm(story)">
                                    Save Story<i class="fa fa-send"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <i class="fa fa-asterisk fa-2x"></i>After submitting your story, you will see the story of
                            the person of the previous entry.
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--- end form -->
    </div><!-- end container -->

</section>
<!-- end testimonials section -->
<div class="diag-section s_1">
    <div class="diagonal diagonal_bottom pre_s_2"></div>
</div>
<div class="diag-section s_2">
    <div class="diag-section-content">

        <section id="" class="">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Stay Connected</h2>
                        <hr class="primary">
                    </div>
                    <div class="subtitle text-muted text-center">Connect With Others Who Want to Make Their Lives
                        Count
                    </div>
                </div>
            </div>
            <div class="container wow zoomIn">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center justify">
                        <img src="img/threefield.jpg" class="img-responsive"/>

                        <h3>An Activity Community of Ideas and Support</h3>
                        <!-- social icons -->
                        <div class="text-center">
                            <ul class="social-icons icon-circle icon-zoom list-unstyled list-inline">
                                <li><a href="//facebook.com/makingyourlifecount" target="_blank"><i
                                        class="fa fa-facebook"></i></a></li>
                                <li><a href="//twitter.com/mylc_cru" target="_blank"><i class="fa fa-twitter"></i></a>
                                </li>
                                <!-- <li> <a href="#"><i class="fa fa-google-plus"></i></a></li> -->
                            </ul>
                        </div>
                        <!-- end social icons -->
                        <div class="-body">
                            <p class="justify text-muted topmargin40">Your first stop to find others interested in
                                <blue>making their lives count</blue>
                                is your local church or Bible study. Invite them to join you &mdash; or if need be,
                                start something new!
                            </p>
                            <p class="justify text-muted">Then join with the tens of thousands of others in our vibrant
                                and growing social communities.</p>
                        </div>
                        <!-- end  body -->
                    </div>
                    <!-- end col -->
                </div>
                <!-- end row -->
            </div>
            <!-- end container -->
        </section>
        <!-- end  section -->
    </div>
</div>
<div class="diag-section s_3">
    <div class="diagonal diagonal_top post_s_2"></div>
</div>