<section id="testimonials" class="bg-primary">
    <div class="container">
    </div>
</section>

<div class="diag-section s_1">
    <div class="diagonal diagonal_bottom pre_s_2"></div>
</div>


<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM --- PARTIAL BODY STARTS HERE  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->
<section id="message" class="bg-default">
    <div class="container">
        <div ng-if="model.type =='nxtlttr'">
            <!--nxtlttr-->
            <h2>Interactive Email Sign-Up</h2>
            <p>Thank you for signing up for our interactive emails.</p>
            <p>You should receive the first email within the next 10 minutes.</p>
        </div>

        <div ng-if="model.type =='notnow'">
            <!--notnow-->
            <h2>Interactive Emails</h2>
            <p>Thank you for letting us know. We've updated your record. You can always return at any time to this
                Website
                to sign up again.</p>
        </div>
    </div>
</section>
<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM --- PARTIAL BODY ENDS HERE  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->
