<section id="notnow" class="bg-default">
    <div class="container">
        <div ng-include="'templates/header.html'"></div>
        <div class="content-level2">
			<h1>Not Now</h1>
			<p>Thanks for letting us know that you don't want to do the <i>Making Your Life Count</i> interactive email series right now.
			Thanks okay. We understand.</p>
			<p>Please know that you can sign up at any time by simply returning to this site or by clicking the button below.</p>
        </div>
    </div>
</section>

<div class="diag-section s_3">
    <div class="diagonal diagonal_top post_s_2"></div>
</div>