<section id="testimonials" class="bg-primary">
    <div class="container">
    </div>
</section>

<div class="diag-section s_1">
    <div class="diagonal diagonal_bottom pre_s_2"></div>
</div>


<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM --- PARTIAL BODY STARTS HERE  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->

<section id="about" class="bg-default">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center topmargin40">
                <h2 class="section-heading">Resources</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="row">
            <p>You can use the following grid to help you quickly get to the best resource for your need. Across the top
                you see our four elements of WALK - PRAY - CARE - SHARE. There are then three tiers of resources:</p>
            <p><b>Our Recommendations:</b> These links will take you directly to the interactive lesson for each of the
                four themes. These four are ones where we can see measurable results, are focused on the topic and have
                been proven to work.</p>
            <p><b>Endorsed Partner Tools:</b> These have the same three qualifications; measurable, focused, proven.
                These are regularly rotated out as we find others that are more specific to our desired outcome.</p>
            <p><b>Other Ideas:</b> Submitted by others but matching our desired guidelines. They meet a basic set of
                guidelines.</p>
        </div>
        <!-- end row -->
        <div class="row">
            <div class="row title">
                <div class="col-sm-12">
                    <div class="col-sm-3 no-padding">
                        <h3>Walk</h3></div>
                    <div class="col-sm-3 no-padding">
                        <h3>Pray</h3></div>
                    <div class="col-sm-3 no-padding">
                        <h3>Care</h3></div>
                    <div class="col-sm-3 no-padding">
                        <h3>Share</h3></div>
                </div>
            </div>

            <div id="accordion">
                <uib-accordion close-others="true">
                    <uib-accordion-group is-open="status.isFirstOpen">
                        <uib-accordion-heading>
                            <strong>Our Recommendations</strong>
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-up': status.isFirstOpen, 'glyphicon-chevron-down': !status.isFirstOpen}">
                            </i>
                        </uib-accordion-heading>

                        <div>
                            <div class="col-sm-3">
                                <h3>Walk</h3>
                                <p>This lesson will introduce you to the importance of forgiveness as a foundation for a
                                    solid walk with God. You will also see how the Holy Spirit can help strengthen you.
                                    It includes a powerful film called "<i>Venia</i>."</p>
                                <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=1.1"
                                                          class="btn btn-info" target="_blank">WALK&nbsp;&nbsp;<i
                                        class="fa fa-male"></i></a></p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Pray</h3>
                                <p>You can talk to God regularly and in a way in which you hear from Him. This lesson
                                    help you see how prayer is powerful and how it is important to stay continually
                                    connected to God.</p>
                                <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=2.1"
                                                          class="btn btn-info" target="_blank">PRAY&nbsp;&nbsp;<i
                                        class="fa fa-hand-pointer-o"></i></a></p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Care</h3>
                                <p>Love and spending time with people are universal ways in which you show people you
                                    care. The story of the Good Samaritan is portrayed in a powerful short film that
                                    will help you see new ways to CARE for others.</p>
                                <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=3.1"
                                                          class="btn btn-info" target="_blank">CARE&nbsp;&nbsp;<i
                                        class="fa fa-heart"></i></a></p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Share</h3>
                                <p>You can really practice <i>Making Your Life Count</i> by using what you've learned to
                                    help others do the same. This fourth lesson will help you see that you cannot keep
                                    what you've learned to yourself.</p>
                                <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=4.1"
                                                          class="btn btn-info" target="_blank">SHARE&nbsp;&nbsp;<i
                                        class="fa fa-share-square-o"></i></a></p>
                            </div>
                            <div class="col-sm-12">
                                <hr/>
                                <p>Each of these four <b>Recommended Resources</b> have a powerful film to illustrate
                                    the main point. There are engaging questions and you will see how others have
                                    responded. This gives you an interactive online experience that will reinforce your
                                    learning ability. Each lesson should take around 20 to 30 minutes to complete.</p>
                            </div>
                        </div>

                    </uib-accordion-group>

                    <uib-accordion-group is-open="status.isSecondOpen">
                        <uib-accordion-heading>
                            <strong>Endorsed Partner Tools</strong>
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-up': status.isSecondOpen, 'glyphicon-chevron-down': !status.isSecondOpen}">
                            </i>
                        </uib-accordion-heading>

                        <div>
                            <div class="col-sm-3">
                                <h3>Walk</h3>
                                <p>Cru.org contains an article titled "<a
                                        href="http://www.cru.org/train-and-grow/transferable-concepts/experience-gods-love-and-forgiveness.html"
                                        target="_blank">The Forgiveness God Offers</a>.” It offers many more details
                                    about forgiveness.</p>
                                <p>A second article, "<a
                                        href="http://www.cru.org/train-and-grow/transferable-concepts/be-filled-with-the-holy-spirit.html"
                                        target="_blank">The Wonderful News of the Spirit-Filled Life,</a>" may also be
                                    of interest to further explore the power of the Spirit living in you.</p>
                                <p>A final great resource is a booklet, "<a
                                        href="http://www.cru.org/training-and-growth/classics/the-spirit-filled-life/index.htm"
                                        target="_blank">Satisfied.</a>" It concisely explains how to be filled with the
                                    Holy Spirit.</p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Pray</h3>
                                <p>Cru.org contains an article titled "<a
                                        href="http://www.cru.org/train-and-grow/transferable-concepts/pray-with-confidence.html"
                                        target="_blank">Pray with Confidence</a>." It serves as a good starting point
                                    for developing a stronger prayer life.</p>
                                <p>You can also join with millions of others in "<a
                                        href="https://www.cru.org/train-and-grow/spiritual-growth/prayer/pray2020.html"
                                        target="_blank">Pray2020.org</a>."</p>
                                <p>A final great resource is a topical index for <a
                                        href="http://www.cru.org/training-and-growth/spiritual-growth/prayer.html"
                                        target="_blank">Prayer Articles</a> used within Cru for the past 50+ years.</p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Care</h3>
                                <p>You can gain new insight into how to care for others from Cru.org. Read the article
                                    titled "<a
                                            href="http://www.cru.org/train-and-grow/transferable-concepts/love-by-faith.html"
                                            target="_blank">How to Love By Faith</a>."</p>
                                <p>A second article gives some great insight. "<a
                                        href="http://www.cru.org/train-and-grow/leadership-training/leader-development/community-cause-and-corporation-2.html"
                                        target="_blank">Community, Cause and Corporation</a>" helps open our eyes to
                                    some new insights into how we can care for others.</p>
                                <p>A final great resource is a topical index for <a
                                        href="https://www.cru.org/train-and-grow/bible-studies.html" target="_blank">Bible
                                    Study Resources</a>. You may find some ideas here to help show you ways to
                                    spiritually care for others.</p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Share</h3>
                                <p>Cru.org contains a series of articles around the topic "<a
                                        href="https://www.cru.org/train-and-grow/transferable-concepts/help-fulfill-the-great-commission.html"
                                        target="_blank">Catch Excitement for the Gosepl</a>."</p>
                                <p>One aspect of SHARE is talking to others about Jesus. We have an index of articles
                                    that help you understand "<a
                                            href="https://www.cru.org/train-and-grow/share-the-gospel/evangelism-principles.html"
                                            target="_blank">Evangelism Principles.</a>"</p>
                                <p>A final great resource are some ideas for <a
                                        href="https://www.cru.org/train-and-grow/share-the-gospel/outreach-strategies.html"
                                        target="_blank">Outreach Strategies</a>.</p>
                            </div>
                        </div>

                    </uib-accordion-group>

                    <uib-accordion-group is-open="status.isThirdOpen">
                        <uib-accordion-heading>
                            <strong>Other Ideas</strong>
                            <i class="pull-right glyphicon"
                               ng-class="{'glyphicon-chevron-up': status.isThirdOpen, 'glyphicon-chevron-down': !status.isThirdOpen}">
                            </i>
                        </uib-accordion-heading>

                        <div>
                            <div class="col-sm-3">
                                <h3>Walk</h3>
                                <p>We await your ideas.</p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Pray</h3>
                                <p>We await your ideas.</p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Care</h3>
                                <p>We await your ideas.</p>
                            </div>
                            <div class="col-sm-3">
                                <h3>Share</h3>
                                <p>We await your ideas.</p>
                            </div>
                            <div class="col-sm-12">
                                <p>If you have an idea you would like to submit for this section, please use the <a
                                        href="http://makingyourlifecount.org/support.html"><b>Support</b></a> link to
                                    let us know.</p>
                            </div>
                        </div>

                    </uib-accordion-group>
                </uib-accordion>
            </div>


            <!--<div class="panel-group" id="accordion1">
                 <div class="panel panel-default">
                     <div class="panel-heading tab_padding">
                         <h4 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion" href="#/resources/#collapseOne">Our
                                 Recommendations</a>
                             <i class="indicator glyphicon pull-right glyphicon-chevron-up"></i>
                         </h4>
                     </div>
                     <div id="collapseOne" class="panel-collapse collapse in main_panel">
                         <div class="panel-body">
                             <div class="col-sm-3">
                                 <h3>Walk</h3>
                                 <p>This lesson will introduce you to the importance of forgiveness as a foundation for a
                                     solid walk with God. You will also see how the Holy Spirit can help strengthen you.
                                     It includes a powerful film called "<i>Venia</i>."</p>
                                 <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=1.1"
                                                           class="btn btn-info" target="_blank">WALK&nbsp;&nbsp;<i
                                         class="fa fa-male"></i></a></p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Pray</h3>
                                 <p>You can talk to God regularly and in a way in which you hear from Him. This lesson
                                     help you see how prayer is powerful and how it is important to stay continually
                                     connected to God.</p>
                                 <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=2.1"
                                                           class="btn btn-info" target="_blank">PRAY&nbsp;&nbsp;<i
                                         class="fa fa-hand-pointer-o"></i></a></p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Care</h3>
                                 <p>Love and spending time with people are universal ways in which you show people you
                                     care. The story of the Good Samaritan is portrayed in a powerful short film that
                                     will help you see new ways to CARE for others.</p>
                                 <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=3.1"
                                                           class="btn btn-info" target="_blank">CARE&nbsp;&nbsp;<i
                                         class="fa fa-heart"></i></a></p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Share</h3>
                                 <p>You can really practice <i>Making Your Life Count</i> by using what you've learned to
                                     help others do the same. This fourth lesson will help you see that you cannot keep
                                     what you've learned to yourself.</p>
                                 <p class="text-center"><a href="https://essentials24.org/lesson.php?s=4&a=sample&i=4.1"
                                                           class="btn btn-info" target="_blank">SHARE&nbsp;&nbsp;<i
                                         class="fa fa-share-square-o"></i></a></p>
                             </div>
                             <div class="col-sm-12">
                                 <hr/>
                                 <p>Each of these four <b>Recommended Resources</b> have a powerful film to illustrate
                                     the main point. There are engaging questions and you will see how others have
                                     responded. This gives you an interactive online experience that will reinforce your
                                     learning ability. Each lesson should take around 20 to 30 minutes to complete.</p>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="panel panel-default">
                     <div class="panel-heading tab_padding">
                         <h4 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion" href="#/resources/#collapseTwo">Endorsed
                                 Partner Tools</a>
                             <i class="indicator glyphicon pull-right glyphicon-chevron-down"></i>
                         </h4>
                     </div>
                     <div id="collapseTwo" class="panel-collapse collapse main_panel">
                         <div class="panel-body">
                             <div class="col-sm-3">
                                 <h3>Walk</h3>
                                 <p>Cru.org contains an article titled "<a
                                         href="http://www.cru.org/train-and-grow/transferable-concepts/experience-gods-love-and-forgiveness.html"
                                         target="_blank">The Forgiveness God Offers</a>.” It offers many more details
                                     about forgiveness.</p>
                                 <p>A second article, "<a
                                         href="http://www.cru.org/train-and-grow/transferable-concepts/be-filled-with-the-holy-spirit.html"
                                         target="_blank">The Wonderful News of the Spirit-Filled Life,</a>" may also be
                                     of interest to further explore the power of the Spirit living in you.</p>
                                 <p>A final great resource is a booklet, "<a
                                         href="http://www.cru.org/training-and-growth/classics/the-spirit-filled-life/index.htm"
                                         target="_blank">Satisfied.</a>" It concisely explains how to be filled with the
                                     Holy Spirit.</p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Pray</h3>
                                 <p>Cru.org contains an article titled "<a
                                         href="http://www.cru.org/train-and-grow/transferable-concepts/pray-with-confidence.html"
                                         target="_blank">Pray with Confidence</a>." It serves as a good starting point
                                     for developing a stronger prayer life.</p>
                                 <p>You can also join with millions of others in "<a
                                         href="https://www.cru.org/train-and-grow/spiritual-growth/prayer/pray2020.html"
                                         target="_blank">Pray2020.org</a>."</p>
                                 <p>A final great resource is a topical index for <a
                                         href="http://www.cru.org/training-and-growth/spiritual-growth/prayer.html"
                                         target="_blank">Prayer Articles</a> used withing Cru for the past 50+ years.</p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Care</h3>
                                 <p>You can gain new insight into how to care for other from Cru.org. Read the article
                                     titled "<a
                                             href="http://www.cru.org/train-and-grow/transferable-concepts/love-by-faith.html"
                                             target="_blank">How to Love By Faith</a>."</p>
                                 <p>A second article gives some great insight. "<a
                                         href="http://www.cru.org/train-and-grow/leadership-training/leader-development/community-cause-and-corporation-2.html"
                                         target="_blank">Community, Cause and Corporation,</a>" helps open our eyes to
                                     some new insights into how we can care for others.</p>
                                 <p>A final great resource is a topical index for <a
                                         href="https://www.cru.org/train-and-grow/bible-studies.html" target="_blank">Bible
                                     Study Resources</a>. You may find some ideas here to help show you ways to
                                     spiritually care for others.</p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Share</h3>
                                 <p>Cru.org contains a series of article around the topic "<a
                                         href="https://www.cru.org/train-and-grow/transferable-concepts/help-fulfill-the-great-commission.html"
                                         target="_blank">Catch Excitement for the Gosepl</a>."</p>
                                 <p>One aspect of SHARE it talking to others about Jesus. We have an index of articles
                                     that help you understand "<a
                                             href="https://www.cru.org/train-and-grow/share-the-gospel/evangelism-principles.html"
                                             target="_blank">Evangelism Principles.</a>"</p>
                                 <p>A final great resource are some ideas for <a
                                         href="https://www.cru.org/train-and-grow/share-the-gospel/outreach-strategies.html"
                                         target="_blank">Outreach Strategies</a>.</p>
                             </div>
                         </div>
                     </div>
                 </div>

                 <div class="panel panel-default">
                     <div class="panel-heading tab_padding">
                         <h4 class="panel-title">
                             <a data-toggle="collapse" data-parent="#accordion" href="#/resources/#collapseThree">Other
                                 Ideas</a>
                             <i class="indicator glyphicon pull-right glyphicon-chevron-down"></i>
                         </h4>
                     </div>
                     <div id="collapseThree" class="panel-collapse collapse main_panel">
                         <div class="panel-body">
                             <div class="col-sm-3">
                                 <h3>Walk</h3>
                                 <p>We await your ideas.</p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Pray</h3>
                                 <p>We await your ideas.</p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Care</h3>
                                 <p>We await your ideas.</p>
                             </div>
                             <div class="col-sm-3">
                                 <h3>Share</h3>
                                 <p>We await your ideas.</p>
                             </div>
                             <div class="col-sm-12">
                                 <p>If you have an idea you would like to submit for this section, please use the <a
                                         href="http://makingyourlifecount.org/support.html"><b>Support</b></a> link to
                                     let us know.</p>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>-->
        </div>
        <!-- end container -->
    </div>
</section>


<!-- MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM --- PARTIAL BODY ENDS HERE  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM-->
<div class="diag-section s_3">
    <div class="diagonal diagonal_top post_s_2"></div>
</div>